.container {
  width: 205px;
  height: 300px;
  border-radius: 10px;
  background-size: 100% 184px;
  background-repeat: no-repeat;
  display: flex;
  transition: all 0.3s ease-in-out;

  &:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgba(26, 14, 86, 1);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
}

.avatar-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-name {
  margin-top: 5px;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 325;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.total-earned {
  font-size: 36px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

.earning-top {
  display: flex;
  align-items: center;
  justify-content: center;
}